n8n/workflows/04-daily-digest-email.json
{
  "name": "Daily Sales Digest — Multi-Report Email",
  "nodes": [
    {
      "id": "node-schedule-1",
      "name": "Daily Cron (7 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "node-http-1",
      "name": "Query 1: Daily Sales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 200],
      "parameters": {
        "method": "POST",
        "url": "http://app:8000/api/n8n/webhook/query",
        "authentication": "none",
        "sendBody": true,
        "contentType": "JSON",
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "What were total sales yesterday?"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-http-2",
      "name": "Query 2: Top Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 400],
      "parameters": {
        "method": "POST",
        "url": "http://app:8000/api/n8n/webhook/query",
        "authentication": "none",
        "sendBody": true,
        "contentType": "JSON",
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "What are the top 5 products by revenue this month?"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-http-3",
      "name": "Query 3: Pending Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 600],
      "parameters": {
        "method": "POST",
        "url": "http://app:8000/api/n8n/webhook/query",
        "authentication": "none",
        "sendBody": true,
        "contentType": "JSON",
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "How many orders are pending fulfillment?"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "node-merge-1",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [500, 400],
      "parameters": {
        "mode": "combine"
      }
    },
    {
      "id": "node-code-1",
      "name": "Format Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400],
      "parameters": {
        "jsCode": "const items = $input.all();\nlet body = '📊 Daily Sales Digest\\n\\n';\n\nitems.forEach((item, i) => {\n  body += `--- Query ${i+1} ---\\n`;\n  body += item.json.output || item.json.answer || JSON.stringify(item.json);\n  body += '\\n\\n';\n});\n\nbody += 'Generated by Text-to-SQL RAG System\\n';\n\nreturn [{json: {body: body, subject: 'Daily Sales Digest - ' + new Date().toLocaleDateString()}}];"
      }
    },
    {
      "id": "node-email-1",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 400],
      "parameters": {
        "fromEmail": "={{ $credentials.smtp.user }}",
        "toEmail": "team@example.com",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "credentials": {
        "smtp": "SMTP"
      }
    }
  ],
  "connections": {
    "Daily Cron (7 AM)": {
      "main": [
        [
          {
            "node": "Query 1: Daily Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query 1: Daily Sales": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Cron (7 AM)": {
      "main": [
        [
          {
            "node": "Query 2: Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query 2: Top Products": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Cron (7 AM)": {
      "main": [
        [
          {
            "node": "Query 3: Pending Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query 3: Pending Orders": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest Email": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["text-to-sql", "daily", "digest", "email", "scheduled"],
  "createdAt": "",
  "updatedAt": ""
}
